.App {
  background-color: #ddd;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

a{
  color: black;
}

.Footer {
  background-color: #9e3737;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

.Nav {
  background-color: #9e3737;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
}

.Nav a:hover {
  background-color: #ddd;
  color: black;
}




