.App {
  background-color: #ddd;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow:scroll;
  text-align: center;
}

.info{
  height: 100%;
  width: 100%;
}

a{
  color: black;
}

.Footer {
  background-color: #9e3737;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

img {
  height: 20%;
  Width: 20%;
  border-radius: 70%;
  
}

.Nav {
  background-color: #9e3737;
  height: 4%;
  display: flex;
  justify-content: space-evenly;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.Nav a:hover {
  background-color: #ddd;
  color: black;
}




